html {
    scroll-behavior: smooth;
} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Main colors
$primary-color: #31255a;
$muted-color  : #8fe0ff;
$secondary-color: #75b4e3;
$main-bg-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);;

//Font Families
$Montserrat: 'Montserrat', sans-serif;
$Questrial : 'Questrial',  sans-serif;

// Text basics
p,h1{
    font-family: $Montserrat;
    letter-spacing: 2px;
  }
  h2,h3,h4,h5,h6,span,a{
    font-family: $Questrial;
    letter-spacing: 2px;
  }

// Responsive mixins
$phone-width: 280px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
// Devises visibility
.mobile-hidden{
  @include phone(){
    display: none;
  }
}
.desktop-hidden{
  @include desktop(){
    display: none;
  }
}
.hidden{
  
  display: none;
}


// backgrounds 
.background-primary{
    background-color: $primary-color;
    color: white;
}
.background-main{
    background: $secondary-color;
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(117,180,227,1) 100%);
}
// Search Box
.search-box{
  &img{ 
    width: 40px;
  }

}
 .search-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    &::placeholder{
        color: white;   
    }
    outline: none;
    color: white;
    background: transparent;
    padding: 15px 10px;
    transition: all .5s ease;
    font-family: $Questrial;
  }
// basics

.logo{
    width: 100px;
}
.padding-small{
    padding: 15px;
}
.padding-large{
    @include desktop(){
        padding: 5%;
    }
    @include tablet(){
        padding: 10%;
    }
    @include phone(){
        padding: 10%;
    }
    
}
.grid-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
  }
.container-fullwidt{
     
    @include desktop{
      max-width: 1200px;
    }
    @include tablet(){
      max-width: 800px;
    }
    @include phone{
      max-width: 300px;
    }
    margin: 0 auto;
}

.main-section{
    min-height: 100vh;
}

.card-transparent {
    width: 100%;
    color: white;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.07);
    transition: all .5s ease;
    &*{
      transition: all .5s ease;
    }
     
}


/****/
#main-weather-card {
  width: 100%;

  & h3:nth-child(1){
    font-size: 3rem;
    @media screen and (max-width: 900px) {
      & {
        text-align: center;
      }
    }
  }

  & h3:nth-child(2){
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 800;
    @media screen and (max-width: 900px) {
      & {
        text-align: center;
      }
    }
  }
  
  & h3 .description{
    font-size: 3rem;
    text-align: right;
    @media screen and (max-width: 900px) {
      & {
        text-align: center;
      }
    }
  }
  
  & h1 {
    font-size: 9rem;
    margin: 15px auto;
    background-color: #31255a;
    display: inline-block;
    padding: 30px 30px;
    border-radius: 150px;
    border-left: solid 15px #fff;
    border-right: solid 15px #fff;
    text-align: rigth;

    @media screen and (max-width: 900px) {
      & {
        font-size: 5rem;
        text-align: center;
      }
    }
  }
}

.text-header {
  font-size: 5rem;
  margin: 30px auto;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,.5);

  @media screen and (max-width: 900px) {
    & {
      font-size: 2rem;
      text-align: center;
    }
  }
}