html {
    scroll-behavior: smooth;
} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//Main colors
$primary-color: #31255a;
$muted-color  : #8fe0ff;
$secondary-color: #75b4e3;
$light-text-color: #fff;
$transparend-card-color: rgba(0, 0, 0, 0.07);
$main-bg-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);;

//Font Families
$Montserrat: 'Montserrat', sans-serif;
$Questrial : 'Questrial',  sans-serif;

// Text basics
p,h1{
    font-family: $Montserrat;
    letter-spacing: 2px;
  }
  h2,h3,h4,h5,h6,span,a{
    font-family: $Questrial;
    letter-spacing: 2px;
  }
  a{
    text-decoration: none;
    color: $primary-color;
  }

// Responsive mixins
$phone-width: 280px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
// Devises visibility
.mobile-hidden{
  @include phone(){
    display: none;
  }
}
.desktop-hidden{
  @include desktop(){
    display: none;
  }
}
.hidden{
  
  display: none;
}


// backgrounds 
.background-primary{
    background-color: $primary-color;
    color: $light-text-color;
}
.background-main{
    background: $secondary-color;
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(117,180,227,1) 100%);
}
// Search Box
.search-box{
  
  background-color: $transparend-card-color;
  border: 1px solid #f1f1f1;
  button{ 
    border: none;
    background: $muted-color;
    width: 45px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    &:hover {
      border: solid 2px $secondary-color;
    }
    
    img{
      width: 20px;
    }
  }
  .search-input{
     width: 100%;
     border: none;
     
     &::placeholder{
         color: $light-text-color;   
         font-family: "Montserrat", sans-serif;
         letter-spacing: 2px;
     }
     outline: none;
     color: $light-text-color;
     background: transparent;
     padding: 15px 10px;
     transition: all .5s ease;
     font-family: $Questrial;
   }

}
// basics
.card-france{
  color: $light-text-color;
  &.temperature{
    font-size: 1rem;
  }
  border-radius: 6px;
  background: rgb(1,24,255);
background: linear-gradient(87deg, rgba(1,24,255,0.13535836697960435) 0%, rgba(227,117,117,0.33143679835215334) 100%);
  & h3:nth-child(1){
    font-size: 1rem;
     @include phone(){
        text-align: center; 
     }
     @include tablet(){
        text-align: center; 
     }
        
       
  }

  & h3:nth-child(2){
    font-size: 0.5rem;
    margin-top: 1rem;
    font-weight: 800;
    @include phone(){
        text-align: center; 
     }
     @include tablet(){
        text-align: center; 
     }
  }
  
  & h3 .description{
    font-size: 1rem;
    text-align: right;
    @include phone(){
      text-align: center; 
   }
   @include tablet(){
      text-align: center; 
   }
  }
}
.text-bold{
  font-weight: 600;
}
.text-center{
  text-align: center;
}
.text-header {
  font-size: 5rem;
  margin: 30px auto;
  color: $light-text-color;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
    @include phone(){
      font-size: 2rem;
      text-align: center;
    }  
}
.text-header-secondary {
  font-size: 2rem;
  margin: 10px auto;
  color: $light-text-color;
  text-shadow: 0 0 10px rgba(0,0,0,.5);
    @include phone(){
      font-size: 2rem;
      text-align: center;
    }  
}
.logo{
    width: 100px;
}
.padding-small{
    padding: 15px;
}

.padding-small-m{
  @include phone(){
    padding: 10px;
  }
}
.padding-large{
    @include desktop(){
        padding: 5%;
    }
    @include tablet(){
        padding: 10%;
    }
    @include phone(){
        padding: 10%;
    }
    
}
// Grids
.grid-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
     
  }
  // Responsive grids directions
  .grid-responsive-m{
    @include phone(){
      flex-direction: column !important;
    }
  }
  .grid-responsive-t{
    @include tablet(){
      flex-direction: column !important;
    }
  }
.container-fullwidt{
     
    @include desktop{
      max-width: 1200px;
    }
    @include tablet(){
      max-width: 800px;
    }
    @include phone{
      max-width: 300px;
    }
    margin: 0 auto;
}

.main-section{
    min-height: 100vh;
} 

.card-transparent {
    width: 100%;
    color: $light-text-color;
    border-radius: 6px;
    background-color: $transparend-card-color;
     
}


/*Some 3 Forecast Details*/
#forecast-main .card-transparent{
  @include phone(){
    width: 350px;
  }
}
 
/*Some Banner Details*/
#main-weather-card {
  width: 100%;
  & h3:nth-child(1){
    font-size: 3rem;
     
      
  }
  & h3:nth-child(2){
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 800;
    
  }
  & h3 .description{
    font-size: 3rem;
    text-align: right;
   
  }
  
  & h1 {
    font-size: 9rem;
    margin: 15px auto;
    background-color: #31255a;
    display: inline-block;
    padding: 30px 30px;
    border-radius: 150px;
    border-left: solid 15px #fff;
    border-right: solid 15px #fff;
    text-align: rigth;
    @include phone(){
      font-size: 5rem;
   
   }
   @include tablet(){
    font-size: 5rem;
   
   }
  }
  @include phone(){
    flex-direction: column !important;
    text-align: center;
  }
}

